@import url('global.css');
@import url('navbar.css');
@import url('home.css');
@import url('about.css');
@import url('works.css');
@import url('contact.css');
@import url('footer.css');
@import url('loader.css');
@import url('responsive.css');